@model EntityLayer.Concrete.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h4 style="padding-top:15px;color:blue">Hakkımda Bilgileri:</h4>
@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.AboutId)
    <div style="margin-top:10px">
        <label style="font-weight:bold;color:red;font-size:16px">İçerik 1</label>
        @Html.TextAreaFor(x => x.AboutDetails1, new { @class = "form-control", @placeholder = "İçerik ",@rows=5 })
    </div>
    <div style="margin-top: 8px">
        <label style="font-weight:bold;color:red;font-size:16px">İçerik 2</label>
        @Html.TextAreaFor(x => x.AboutDetails2, new { @class = "form-control", @placeholder = "İçerik ", @rows = 5 })
    </div>
    <div style="margin-top:8px">
        <label style="font-weight:bold;color:red;font-size:16px">Resim 1</label>
        @Html.TextBoxFor(x => x.AboutImage1, new { @class = "form-control", @placeholder = "Resim " })
    </div>
    <div style="margin-top:8px">
        <label style="font-weight:bold;color:red;font-size:16px">Resim 2</label>
        @Html.TextBoxFor(x => x.AboutImage2, new { @class = "form-control", @placeholder = "Resim" })
    </div>
    <button style="margin-top:8px" class="btn btn-warning">Güncelle</button>
}

